@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

@import "components/base";
@import "components/navbar";
@import "components/footer";

@import "components/sections";

@import "components/buttons";
@import "components/inputs";
@import "components/alerts";

.mode-dark {
    @import "dark-mode";
}
