/**
* Errors messages
*
 */

.alert {
    @apply text-sm mb-3 border-l-4 p-4;
}

.alert-success {
    @apply bg-green-100 border-green-400 text-green-700;
}

.alert-warning {
    @apply bg-orange-100 border-orange-400 text-orange-700;
}

.alert-danger {
    @apply bg-red-100 border-red-400 text-red-700;
}

.alert-info {
    @apply bg-blue-100 border-blue-400 text-blue-700;
}
