/**
* Font
*
 */

@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

/**
* Content
*
 */

.content {
    @apply mx-auto flex-1 relative;
}
@screen lg {
    .content::before {
        content: '';
        display: -webkit-box;
        display: flex;
        width: 100%;
        background: url('../../../storage/app/public/images/wave-1.svg') no-repeat;
        background-position-y: 0%;
        background-size: auto;
        background-position-y: -4vw;
        background-size: cover;
        height: 8vw;
        position: absolute;
        top: -2px;
        left: 0;
        right: 0;
        z-index: -1;
    }
}
.link {
    @apply underline;
}
