/**
* Input
*
 */

.input {
    @apply bg-gray-900 border border-gray-700 rounded py-2 px-4 block w-full appearance-none leading-normal;
}
.input:focus {
    @apply outline-none shadow-outline;
}
.custom-label input:checked + svg {
    display: block !important;
}
